
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HelloView</title>
</head>
<body>
    <div> 
        This is my first MVC program.
    </div>
    <div>
        Current Time: @ViewData["CurrentTime"];
    </div>
</body>
</html>
